body h1 {
	font-family: 'Righteous', cursive;
	font-size: 4.25em;
}

body {
	font-family: 'Inder', sans-serif;
	background-color: rgb(0, 192, 243);
	margin: 0% 8% 0% 8%;

}



#inputs {
	display: inline-block;
	border: 2px solid rgb(167, 206, 55);
	width: 100%;
	text-align: center;
	background-color: rgb(238, 76, 155);
	padding-bottom: 1em;
	color: white;
}

.inputs {
	display: inline-block;
	padding: 1em;
	border: 1px solid rgb(167, 206, 55);
	margin: .5em .5em .5em .5em;
}
.msg {
	padding-bottom: 1em;
	padding-left: 1em;
	padding-top: 1em;
	width: 80%;
	border: 1px solid rgb(167, 206, 55);
	text-align: left;
	
	margin-left: 8%;

}
#message {
	width: 80%;
}


.inputs div {

	text-align: left;
}

input {
	border-color: rgb(167, 206, 55);
	background-color: rgb(0, 192, 243);
}



#board {
	width: 100%;
}
#message-board {
	border: 2px solid rgb(238, 76, 155);
	padding: 1em;
	color: rgb(93, 45, 145);
	background-color: rgb(167, 206, 55);
	overflow: auto;
	box-sizing: border-box;
	height: 200px;
}






#message-board .user {
	text-align: left;
	display: inline-block;
	width: 25%;
	vertical-align: top;
}
#message-board .name {
	text-align: left;
	display: inline-block;
	width: 60%;
	padding-left: .5em;
}



#message-board .message {
	text-align: left;
	display: inline-block;
	width: 25%;
	vertical-align: top;
}
#message-board .content {
	text-align: left;
	display: inline-block;
	width: 60%;
	padding-left: .5em;
}




#message-board .stamp {
	text-align: left;
	display: inline-block;
	width: 25%;
	vertical-align: top;
}
#message-board .time {
	text-align: left;
	display: inline-block;
	width: 60%;
	padding-left: .5em;
}


#message-board .instance {
	display: block;
	padding: 0em 0em 1em 0em;
}